body,html {
    margin: 0;
    padding: 0;
    background-color: #12181B;
}
* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    font-family: 'fontello';
    font-size: 15vw;
    background-image: linear-gradient(180deg,
        rgb(188, 249, 255) 0%,
        rgb(180, 226, 125) 50%,
        rgb(213, 137, 217) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; 
}

